body{
    font-size: 14px;

    font-weight: 100;
}
table {
	border: 1px solid #444;

	}
#resultadosBoton{
    display: none;
}
#entrenamientoBoton{
    display: none;
}
.commentBox{
    display: none;
}
#commentBox{
    display: none;
}
